/* Estilos generales */
@import "node_modules/ol/ol.css"; /* para moviles y tablets */

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden; /* Evita la barra de desplazamiento */
}
/* -------------- MAPA ---------------------------- */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 800; /* Asegurar que el mapa esté detrás de la cabecera */
}

/* Estilos para el contenedor del mapa */
#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* -------------- CABECERA ---------------------------- */
/* Estilos para la cabecera */
.full-width-header {
  width: 100%;
  background: linear-gradient(to right, #19243100, #192431d0, #0c848d, #192431d8, #19243100);
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative; /* Cambiar a relative */
  z-index: 800; /* Asegurar que esté debajo de los botones pero encima del mapa */
  padding: 2px 0; /* Reducir el espacio entre el borde y la cabecera */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;
  z-index: 800; 
}

.header-content h1 {
  font-size: 2rem;
  margin-bottom: 5px;
  margin-top: 0; /* Reducir el espacio entre el título y el borde superior */
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.header-content p {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

#selectAreaBtn {
  background: #000000;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 2px 3px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#selectAreaBtn:hover {
  color:#000000;
  background: #d3d0d0;
}


/* Estilos para los botones en la cabecera */
.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin-top: 1px;
}

/* estilo boton cabecera capas*/
.header-btn {
  background: #000000;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 2px 3px; /* Tamaño uniforme */
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.header-btn:hover {
  color:#000000;
  background: #d3d0d0; /* Color más oscuro al pasar el mouse */
}


/* -------------- SIDEBAR INFO ---------------------------- */
/* Barra minimapa */
.ol-overviewmap {
  position: absolute;
  top: 82.5%;
  left: 92%; /* Posición inicial en la parte derecha */
  transform: translateX(-50%); /* Centrado del minimapa */
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0); /* Fondo transparente */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out; /* Transición suave al mover */
}

/* Sidebar-right inicialmente oculta */
.sidebar-right {
  position: fixed;
  top: 0;
  right: -500px; /* Oculta fuera de la pantalla */
  width: 400px;
  height: 100%;
  background: #192431;
  color: #000000;
  padding: 20px;
  font-family: Arial, sans-serif;
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 1100;
}

/* Mostrar la sidebar cuando esté visible */
.sidebar-right.open {
  right: 0;
}

/* Ajuste del minimapa cuando la sidebar está abierta */
.sidebar-right.open ~ .ol-overviewmap {
  left: calc(92% - 400px); /* Mueve el minimapa hacia la izquierda para evitar la sidebar */
}
.sidebar-right.open .ol-overviewmap {
  display: block !important; /* Asegura que el minimapa se muestre */
  visibility: visible !important;
}
/* Ajuste del minimapa cuando la sidebar está abierta */
.sidebar-right.open + .ol-overviewmap,
.sidebar-right.open ~ .ol-overviewmap {
  left: calc(100% - 520px) !important; /* Mueve el minimapa más a la izquierda */
  transition: left 0.3s ease-in-out; /* Asegurar transición suave */
  visibility: visible; /* Asegura que sea visible al abrir la sidebar */
}

/* Asegurar que el minimapa se ajuste correctamente */
.sidebar-right.open ~ .ol-overviewmap {
  position: absolute !important;
  z-index: 1000 !important; /* Asegurar que esté por encima de otros elementos */
  background: rgba(0, 0, 0, 0); /* Fondo transparente, para evitar un color gris */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 150px;
}

@media (max-width: 600px) {
  .sidebar-right {
    width: 100%;
  }
}



/*---------------------------------------------------------------*/
/* -------------- POPUP RESULTADOS ---------------------------- */
/*-------------------------------------------------------------*/

#popupResults {
  position: absolute;
  top: 10%;
  
  transform: translateX(-50%);
  overflow-y: auto;
}

/* Estilo para el contenedor de resultados con slider lateral */
#popupResultsContent {
  max-height: 80vh; /* Limitar la altura máxima */
  overflow-y: auto; /* Habilitar el slider lateral */
  padding: 10px; /* Espaciado interno */
  background-color: #f9f9f9; /* Fondo claro */
  border: 1px solid #ccc; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
}

#popupStats {
  position: absolute;
  top: 1%;
  left: 30%;
  transform: translateX(-50%);
  height: auto;
  width: 100%;
  max-width: 500px;
  max-height: 600px;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para dividir la sidebar en dos mitades */
#popupResultsContent, #popupStatsContent {
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
}

#popupResultsContent {
  border-bottom: 1px solid #ccc; /* Separador entre resultados y estadísticas */
}

/* Ajustar el tamaño de los gráficos */
#pieChart, #barChart {
  max-height: 200px;
  width: 100%;
}

/* -------------- POPUP QUESITO ---------------------------- */
#statsChart {
  width: 100%;
  height: 50px;
  max-height: 300px;
}


/*---------------------------------------------------------------*/
/* ----------------------- ESCALA ----------------------------- */
/*-------------------------------------------------------------*/


/* Estilos de la barra de escala */
.ol-scale-bar {
  background-color: rgba(0, 0, 0, 0.911); /* Fondo oscuro */
  border-radius: 7px; /* Bordes redondeados */
  padding: 15px 9px; /* Espaciado interno */
  color: rgb(255, 255, 255); /* Texto blanco */
  box-shadow: 0 20px 8px rgba(0, 0, 0, 0); /* Sombra para dar profundidad */
  z-index: 1011; /* Asegurar que esté por encima de otros elementos */
}

/* texto barra de la escala */
.ol-scale-bar-text {
  font-weight: bold; /* Fuente en negrita */
  text-shadow: 10px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra en el texto */
  z-index: 1000; /* Asegurar que esté por encima de otros elementos */
}

/* texto de la escala */
.ol-scale-text {
  color: #ffffff;
  position:absolute;
  top: 0px;
  font-size: 16px; /* Tamaño de la fuente */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.0);
  z-index: 1000; /* Asegurar que esté por encima de otros elementos */
}


/*---------------------------------------------------------------*/
/* ---------------------- MINIMAPA ---------------------------- */
/*-------------------------------------------------------------*/


/*---------------------------------------------------------------*/
/* -------------- SIDEBAR IZQUIERDA BUSQUEDA ------------------ */
/*-------------------------------------------------------------*/


/* Contenedor lateral para búsqueda */
.sidebar-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40px; /* Ancho del área sensible al cursor */
  transition: width 0.3s ease;
  z-index: 999;
}

/* Barra lateral para búsqueda */
.sidebar {
  position: absolute;
  top: 0;
  left: -250px; /* Oculta barra */
  width: 220px;
  height: 100%;
  background: #192431;
  color: white;
  padding: 20px;
  font-family: Arial, sans-serif;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease;
}

/* Mostrar barra lateral al pasar el mouse */
.sidebar-container:hover {
  width: 220px;
}

/* Mostrar barra al pasar el mouse */
.sidebar-container:hover .sidebar {
  left: 0;
}

/* Estilos del cuadro de búsqueda */
#searchBox {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

/* Botón de búsqueda */
#searchBtn {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: #000000;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease;
}

#searchBtn:hover {
  background: #7f7f80;
  color: #e0f7f9;
}

/* Resultados de búsqueda */
#searchResults {
  margin-top: 15px;
  font-size: 14px;
}

/* Logo */
.sidebar-logo {
  display: block;
  width: 100px;
  height: auto;
  margin: 50px auto;
}

/* Estilo del select */
#themeSelect {
  width: 100%;
  padding: 14px;
  border: 2px solid #ffffff;
  background: #080501;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

/* Efecto hover para el select */
#themeSelect:hover {
  background: #000000;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/* Efecto cuando el select está en foco (clicado) */
#themeSelect:focus {
  background: #000000;
  color: rgb(255, 255, 255);
  font-weight: bold;
  outline: none;
}

/* Estilos unificados para los inputs de la sidebar de búsqueda */
.sidebar input,
.sidebar select,
.sidebar textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #f9f9f9;
  color: #333;
  box-sizing: border-box;
}

.sidebar input:focus,
.sidebar select:focus,
.sidebar textarea:focus {
  outline: none;
  border-color: #34b8c2;
  box-shadow: 0 0 5px rgba(52, 184, 194, 0.5);
}

/*---------------------------------------------------------------*/
/* --------------- POPUP INFO CLIC ---------------------------- */
/*-------------------------------------------------------------*/
/* Estilo para el contenedor del popup */
#popupContainer {
  display: none; /* Ocultamos el popup inicialmente */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-width: 300px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 10000; /* Asegura que esté por encima de otros elementos */
}

/* Estilo para el propio popup */
#popupInfo {
  background-color: #000000;
  color: #ffffff;
  width: 80%; /* Puedes ajustarlo a tu gusto */
  max-width: 600px; /* Máximo tamaño de ancho */
  min-height: 300px; /* Altura mínima */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Estilo para el contenido del popup */
#popupInfoContent {
  flex-grow: 1; /* Hace que el contenido ocupe el espacio disponible */
}

.popup {
        display: none; 
        position: fixed; 
        z-index: 1000; 
        left: 10;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }

      .popup-content {
        background-color: white;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
      }

      .close-btn {
        float: right;
        background-color: black;
        color: white;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
      }

      .close-btn:hover {
        background-color: #d3d0d0 ;
        color: rgb(0, 0, 0);
      }


/* -------------- POPUPS ---------------------------- */

.popup {
  display: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  height: 80vh;
  overflow-y: auto;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border: 1px solid #888;
  text-align: center;
  border-radius: 10px;
}

/* Estilos para el popup de registro */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  
  
}

.popup-content input,
.popup-content select {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.popup-content button {
  background-color: #050505;
  color: white;
  border: white;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  text-align: center;
}

.popup-content button:hover {
  background-color: #45a049;
}

/* Estilos para los botones de login y logout */
.auth-buttons {
  margin-top: 10px;
}

.auth-buttons button {
  background:rgb(31, 22, 22);
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 2px 3px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.auth-buttons button:hover {
  background-color: #000000;
}

/* Estilos para la sección de autenticación */
.auth-section {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.auth-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  position: absolute;
  top: 30px;
  right: 150px;
}

.auth-section input {
  padding: 8px;
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-section button {
  background: #000000;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 3px 3px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.auth-section button:hover {
  background: #d3d0d0;
  color: #000000;
  border: 2px solid #ffffff;
}

/* Estilos para el contenedor de usuario y rol */


/* Estilos para la información del usuario y rol en la cabecera */
#userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute; /* Asegura que se pueda posicionar */
  top: 20px; /* Ajusta la distancia desde la parte superior */
  left: 650px; /* Mueve el contenedor hacia la derecha */
  background-color: rgba(0, 0, 0, 0); /* Fondo semitransparente opcional */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  color: #ffffff; /* Color del texto */
  font-size: 14px;
  font-weight: bold;
}
/* Estilo para los spans dentro de #userInfo */
#userInfo span {
  display: block;
  margin-bottom: 1px;
  color: #ffffff; /* Cambiar el color de los spans */
}
/* Estilo para el formulario de agregar datos */
#addDataForm {
  display: none; /* Oculto por defecto */
  flex-direction: column;
  gap: 20px;
  background-color: #000000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-width: 400px;
  color: #ccc;
  font-family: Arial, sans-serif;
  max-width: 600px; /* Aumentar el ancho máximo */
  width: 90%; /* Asegurar que sea responsivo */
}

/* Título del formulario */
#addDataForm h3 {
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #ccc;
}

/* Sección de campos obligatorios */
#addDataForm .required-section {
  border: 1px solid #ccc;
  background-color: #192431;
  padding: 15px;
  border-radius: 8px;
}

#addDataForm .required-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #ccc;
}

/* Sección de campos opcionales */
#addDataForm .optional-section {
  border: 1px solid #cccccc00;
  padding: 15px;
  border-radius: 8px;
}

#addDataForm .optional-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #ccc;
}

/* Etiquetas */
#addDataForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

/* Campos de entrada */
#addDataForm input,
#addDataForm textarea,
#addDataForm select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  background-color: black;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

/* Campos obligatorios destacados */
#addDataForm input[required],
#addDataForm select[required] {
  border-left: 4px solid #4CAF50;
}

/* Botones */
#addDataForm .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#addDataForm button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#addDataForm #saveDataBtn {
  background-color: #000000;
  color: #ccc;
}

#addDataForm #saveDataBtn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

#addDataForm #cancelAddDataBtn {
  background-color: #000000;
  color: #ccc;
}

#addDataForm #cancelAddDataBtn:hover {
  background-color: #e53935;
  transform: scale(1.05);
}

/* Estilo para el botón "Añadir Datos" exclusivo de administradores */
#addDataBtn {
  background: #000000;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 2px 3px;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.3s ease;
  position: absolute;
  top: 38px;
  right: 625px; /* Ajusta la distancia desde el borde derecho */
}

#addDataBtn:hover {
  color: #000000;
  background-color: #d3d0d0;
}

/* Estilo para la sidebar fija de administrador */
.admin-sidebar {
  display: block; /* Cambiar a block cuando se activa */
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #f9f9f9;
  border-left: 1px solid #ccc;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 1000;
}

.admin-sidebar h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

.admin-sidebar label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.admin-sidebar input,
.admin-sidebar textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.admin-sidebar button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.admin-sidebar button:hover {
  background-color: #45a049;
}

/* Estilos para el contenedor del selector de mapas base */

.base-layer-select {
  position: absolute;
  top: 8.5%;
  left: 40%;
  z-index: 1000;
  background-color: rgb(2, 2, 2, 0.7);
  color: white;
  padding: 10px;
  border-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
  z-index: 990;
}
/* Estilo para el control de coordenadas */
.coordinate_display {
  position: absolute;
  top: 12.5%; /* Ajusta la posición desde la parte inferior */
  left: 40%; /* Ajusta la posición desde la parte izquierda */
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  color: #ffffff; /* Texto blanco */
  padding: 5px 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 14px; /* Tamaño de la fuente */
  font-family: Arial, sans-serif; /* Fuente */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Estilo para los controles de zoom */
.ol-zoom {
  position: absolute;
  top: 8%; /* Alineado con el LayerSwitcher */
  left: 39.15%; /* Posicionado al lado derecho del LayerSwitcher */
  transform: translateX(-50%);
  z-index: 1000; /* Asegurar que esté por encima del mapa */
  background: none; /* Elimina el fondo */
  border: none; /* Elimina cualquier borde */
  box-shadow: none; /* Elimina cualquier sombra */
}

.ol-zoom button {
  background-color: black; /* Fondo negro */
  color: white; /* Texto blanco */
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px; /* Espaciado entre botones */
}

.ol-zoom button:hover {
  background-color: #333; /* Fondo más claro al pasar el mouse */
}
/* Ocultar el ícono del LayerSwitcher */
.ol-layerswitcher {
  display: none; /* Oculta el control predeterminado */
}

.ol-layerswitcher {
  display: none !important; /* Asegúrate de que se aplique este estilo */
}

